# 1. Functions, libraries and packages

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [22]:
def dataframe_info(df: pd.DataFrame):
    """
    Generate a summary DataFrame containing metadata about the columns of the input DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.

    Returns:
        pd.DataFrame: A summary DataFrame with the following columns:
            - Column_name: Name of each column.
            - Total records: Total number of records in each column.
            - Missing Values: Number of missing (NaN) values in each column.
            - Data type: Data type of each column.
            - Unique values: Number of unique values in each column.
    """
    df_summary = pd.DataFrame({
        'Column_name': df.columns,
        'Total records': [df[col].size for col in df.columns],
        'Missing Values': [df[col].isna().sum() for col in df.columns],
        'Data type': [df[col].dtype for col in df.columns],
        'Unique values': [df[col].nunique() for col in df.columns]
    })

    return df_summary

# 2. Data import

In [38]:
df = pd.read_csv(r'..\Data\products.csv')

In [24]:
df.head(5)

,Product_ID,Product_desc,Product_type,Product_category,Product_subcategory,Width,Height,Product_color,Product_handle,Product_hinge,Product_packing,Product_batch,Product_costs
0,P0001,Frame_Industrial_Fire-rated_RAL7024_Aluminum (...,Frame,Industrial,Fire-rated,638.0,336.0,RAL7024,Aluminum (AL),Left,Cardbox,56,173.67
1,P0002,Frame_Industrial_Soundproof_RAL7024_Steel (ST)...,Frame,Industrial,Soundproof,621.0,1195.0,RAL7024,Steel (ST),Left,Wooden box,4,244.81
2,P0003,Frame_Residential_Exterior_RAL9005_Steel (ST)_...,Frame,Residential,Exterior,699.0,1143.0,RAL9005,Steel (ST),Left,Cardbox,84,121.27
3,P0004,Door_Commercial_Retail_RAL9005_Aluminum (AL)_L...,Door,Commercial,Retail,614.0,1493.0,RAL9005,Aluminum (AL),Left,Cardbox,22,216.81
4,P0005,Frame_Commercial_Warehouse_RAL7024_Aluminum (A...,Frame,Commercial,Warehouse,750.0,1275.0,RAL7024,Aluminum (AL),Left,Cardbox,99,108.44

# 3.EDA

## 3.1 NaN values

In [25]:
dataframe_info(df).sort_values(by = 'Missing Values', ascending = False)

,Column_name,Total records,Missing Values,Data type,Unique values
2,Product_type,300000,329,object,2
6,Height,300000,311,float64,1771
8,Product_handle,300000,307,object,3
3,Product_category,300000,302,object,5
5,Width,300000,300,float64,137
9,Product_hinge,300000,297,object,2
4,Product_subcategory,300000,290,object,15
7,Product_color,300000,288,object,3
10,Product_packing,300000,276,object,2
1,Product_desc,300000,0,object,299825
0,Product_ID,300000,0,object,300000
11,Product_batch,300000,0,int64,100
12,Product_costs,300000,0,float64,19688

### 3.1.2 String NaN values

In [26]:
list_object_cols = list(df.select_dtypes('object').columns)
list_object_cols

['Product_ID',
 'Product_desc',
 'Product_type',
 'Product_category',
 'Product_subcategory',
 'Product_color',
 'Product_handle',
 'Product_hinge',
 'Product_packing']

In [39]:
df.loc[df.Product_handle.isna(),:]

,Product_ID,Product_desc,Product_type,Product_category,Product_subcategory,Width,Height,Product_color,Product_handle,Product_hinge,Product_packing,Product_batch,Product_costs
7,P0008,Door_Design_Glass-panel_RAL9005_Steel (ST)_Lef...,Door,Design,Glass-panel,710.0,1689.0,RAL9005,NaN,Left,Wooden box,53,162.02
1763,P1764,Door_Design_Classic_RAL9005_Plastic (PL)_Left_...,Door,Design,Classic,733.0,1164.0,RAL9005,NaN,Left,Cardbox,50,181.76
2197,P2198,Frame_Industrial_Soundproof_RAL7035_Aluminum (...,Frame,Industrial,Soundproof,675.0,1319.0,RAL7035,NaN,Right,Cardbox,69,155.70
2489,P2490,Frame_Design_Glass-panel_RAL7024_Steel (ST)_Le...,Frame,Design,Glass-panel,749.0,579.0,RAL7024,NaN,Left,Wooden box,82,132.62
4014,P4015,Frame_Security_Access-controlled_RAL9005_Plast...,Frame,Security,Access-controlled,745.0,1608.0,RAL9005,NaN,Right,Cardbox,82,125.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296887,P296888,Frame_Commercial_Warehouse_RAL9005_Plastic (PL...,Frame,Commercial,Warehouse,671.0,1582.0,RAL9005,NaN,Right,Cardbox,35,204.41
299113,P299114,Door_Residential_Interior_RAL9005_Steel (ST)_R...,Door,Residential,Interior,697.0,1648.0,RAL9005,NaN,Right,Wooden box,78,140.75
299486,P299487,Door_Residential_Interior_RAL7024_Plastic (PL)...,Door,Residential,Interior,670.0,344.0,RAL7024,NaN,Left,Wooden box,1,500.00
299698,P299699,Frame_Commercial_Office_RAL9005_Steel (ST)_Rig...,Frame,Commercial,Office,673.0,1719.0,RAL9005,NaN,Right,Cardbox,57,165.90
299702,P299703,Door_Design_Classic_RAL9005_Plastic (PL)_Left_...,Door,Design,Classic,638.0,338.0,RAL9005,NaN,Left,Wooden box,24,209.22

In [40]:
regex_mapping = {
    'Product_type': r'^([^_]+)',  
    'Product_category': r'^[^_]+_([^_]+)', 
    'Product_subcategory': r'^[^_]+_[^_]+_([^_]+)',  
    'Product_color': r'^[^_]+_[^_]+_[^_]+_([^_]+)',  
    'Product_handle': r'^[^_]+_[^_]+_[^_]+_[^_]+_([^_]+)',  
    'Product_hinge': r'^[^_]+_[^_]+_[^_]+_[^_]+_[^_]+_([^_]+)', 
    'Product_packing': r'^[^_]+_[^_]+_[^_]+_[^_]+_[^_]+_[^_]+_[^_]+_(.+)$'  
}

In [41]:
for col, regex in regex_mapping.items():
    if col in list_object_cols:
        df[col] = df[col].fillna(df['Product_desc'].str.extract(regex)[0])

In [42]:
dataframe_info(df).sort_values(by = 'Missing Values', ascending = False)

,Column_name,Total records,Missing Values,Data type,Unique values
6,Height,300000,311,float64,1771
5,Width,300000,300,float64,137
2,Product_type,300000,0,object,2
1,Product_desc,300000,0,object,299825
0,Product_ID,300000,0,object,300000
4,Product_subcategory,300000,0,object,15
3,Product_category,300000,0,object,5
7,Product_color,300000,0,object,3
8,Product_handle,300000,0,object,3
9,Product_hinge,300000,0,object,2
10,Product_packing,300000,0,object,2
11,Product_batch,300000,0,int64,100
12,Product_costs,300000,0,float64,19688

In [43]:
df.Product_handle.value_counts()

Product_handle
Plastic (PL)     100322
Aluminum (AL)    100026
Steel (ST)        99652
Name: count, dtype: int64

In [44]:
category_col = [
 'Product_type',
 'Product_category',
 'Product_subcategory',
 'Product_color',
 'Product_handle',
 'Product_hinge',
 'Product_packing']

for col in category_col:
    df[col] = df[col].astype('category')

### 3.1.2 Numeric NaN values

In [45]:
df.select_dtypes('number').columns

Index(['Width', 'Height', 'Product_batch', 'Product_costs'], dtype='object')

In [46]:
desc_nan_value_coles = ['Width', 'Height']

In [47]:
dimensions_regex_mapping = {
    'Width': r'_(\d+)x\d+_',   # Extrahuje číslo před 'x'
    'Height': r'_\d+x(\d+)_'   # Extrahuje číslo za 'x'
}

In [48]:
for col, regex in dimensions_regex_mapping.items():
    if col in desc_nan_value_coles:
        df[col] = df[col].fillna(df['Product_desc'].str.extract(regex)[0])

In [56]:
cols_to_float = ['Width', 'Height', 'Product_batch', 'Product_costs']

for col in cols_to_float:
    df[col] = df[col].astype('float')

In [57]:
dataframe_info(df)

,Column_name,Total records,Missing Values,Data type,Unique values
0,Product_ID,300000,0,object,300000
1,Product_desc,300000,0,object,299825
2,Product_type,300000,0,category,2
3,Product_category,300000,0,category,5
4,Product_subcategory,300000,0,category,15
5,Width,300000,0,float64,137
6,Height,300000,0,float64,1771
7,Product_color,300000,0,category,3
8,Product_handle,300000,0,category,3
9,Product_hinge,300000,0,category,2
10,Product_packing,300000,0,category,2
11,Product_batch,300000,0,float64,100
12,Product_costs,300000,0,float64,19688